<form action="/addtask" method="post">
  <fieldset>
    <label for="task">Task</label>
    <input type="text" name="task" id="task" placeholder="Walk the dog" required>

    <label for="description">Details</label>
    <textarea name="description" id="description" rows="8" cols="32" placeholder="Bring treats!"></textarea>

    <label for="dueDate">Due Date</label>
    <input type="date" name="dueDate">

    <input type="submit" value="Add Task">
  </fieldset>
</form>